.curseclient
usernamecache.json
usercache.json
servers.dat
resourcepacks/Quark Programmer Art.zip
minecraftinstance.json
manifest.json
patchouli_data.json
saves/
logs/
downloads/
schematics/
patchouli_books/
local/
dumps/
crash-reports/
options.txt
reauth.toml
knownkeys.txt
