.curseclient
usernamecache.json
usercache.json
servers.dat
resourcepacks/Quark Programmer Art.zip
resourcepacks/
minecraftinstance.json
manifest.json
patchouli_data.json
saves/
logs/
ambience_music/
downloads/
crash-reports/
impossible_data/
lightspeed-cache/
local/
music_sheets/
paintings/
patchouli_books/
schematics/
trees/
options.txt
WailaErrorOutput.txt
knownkeys.txt
shaderpacks/ComplementaryShaders_v4.7.1.zip
